{%extends "layout.html"%}
{%block style%}

    <style>
        body{
            background-color: rgb(93, 244, 43);
        }
        pc{
            font-size: 20px;
        }
        .posts{
            text-align: center;
        }
        span{
            padding: 20px;
        }
    </style>
    {%endblock%}
{% block content %}
    <div class="posts">
    {% for post in posts.items %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='pfps/'+ post.author.img) }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author.username }} on {{post.Date_Posted.date()}} at {{ post.Date_Posted.strftime("%H:%M")}}</a>
            <small class="text-muted">{{ post.Date_posted }}</small>
          </div>
          <h2><a class="article-title" href="{{ url_for('post',post_id=post.id) }}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
          {%if post.author==current_user %}
          <span class="btn btn-info"><a class="text-white m-1" href="{{url_for('post_update', post_id=post.id)}}" >Edit</a></span><span class="m-1 btn btn-danger"><a class="text-white" href="{{url_for('post_delete', post_id=post.id)}}" >Delete Post</a>    </span>
          {%endif%}
        </div>
      </article>
       {% endfor %}
       {% for page_num in posts.iter_pages() %}
       {%if page_num %}
       {%if page_num == posts.page %}
       <a class="btn btn-info" href="{{url_for('home',page= page_num )}}">{{ page_num }}</a>
       {%else%}
       <a class="btn btn-outline-info" href="{{url_for('home',page= page_num )}}">{{ page_num }}</a>
       {%endif%}
       {%else%}
       ...
       {%endif%}

       {%endfor%}
    </div>
{%endblock%}