{% extends "layout.html"%}
{%block style%}
    <style>
        body{
            background-color: rgb(236, 207, 164);
        }
    </style>
{%endblock%}
{% block content %}
<h1>
<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="static/default.jpg">
      <div class="media-body">
        <h2 class="account-heading">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
      </div>
    </div>
    <!-- FORM HERE -->
  </div>
</h1>
{%endblock%}