{%extends "layout.html"%}
{%block style%}
<style>
 body{
    background-color: bisque;
    text-align: center;
 }
 .welcome{
   font-size: 50px;
   text-shadow: 20px 20px 20px blue;
   color: navy;
   padding-right: 10px;
 }
 .img1{
   padding-top: 40px;
   width: 550px;
   height: 500px;
 }
 emoji{
   font-size: 50px;
 }
</style>
{% endblock style %}
{% block content %}
<div><emoji>🕉️</emoji>
<a class="welcome" href="/home">
   राम राम भाई सारेयाँ नै
</a><emoji>🕉️</emoji>
</div>
   <div>
<img class="img1" src="static/Screenshot_2025-01-21-00-18-24-08_6012fa4d4ddec268fc5c7112cbb265e7.jpg">
</div>
{% endblock content %}