{%extends "layout.html"%}
{%block style%}

    <style>
        body{
            background-color: skyblue;
        }
        pc{
            font-size: 20px;
        }
        .posts{
            background-color: antiquewhite;
            text-align: center;
        }
    </style>
    {%endblock style%}
{% block content %}
    <h1>
        This side Chitransh is the creator of this project
    </h1>
    <div class="posts">
    {% for post in posts %}
    <h2> {{ post.title }} </h2>
    <pc>{{ post.content }}</pc>
    <p>By {{ post.author }} dated {{post.Date_Posted}}</p>
    {% endfor %}
    </div>
{%endblock%}